@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --regualar-text-color: #1e1e1e;
}

body {
  color: var(--regualar-text-color);
  font-family: var(--font-albert-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat-alternates);
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --font-mon-alt: var(--font-montserrat-alternates);
  --font-albert: var(--font-albert-sans);
}

@layer utilities {
  .mask-soft-r {
    -webkit-mask-image: linear-gradient(to right, #000 83%, transparent 100%);
    mask-image: linear-gradient(to right, #000 83%, transparent 100%);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-albert) Arial, Helvetica, sans-serif;
} */
